@font-face {
font-family: "Roboto Th";
src: url("fuentes/Roboto-ThinItalic.ttf");
}

.olvidar-contrasena{
	font-family: "Roboto Th";
	color: black;
	
}


.inputtext{

	width: 337px;
	height: 56px;
	background-color: rgb(204,204,204);
	font-family: "Roboto Th";
	font-size: 20px;
	color: black;
	
	

}